第 11 课：URI的基本格式以及与URL的区别

### 当没有 URI 时

![image](https://user-images.githubusercontent.com/9835391/62914122-5b52c680-bdc1-11e9-84fb-ece95915c5dd.png)

### 什么是 URI

- **URL**: RFC1738 (1994.12)，Uniform Resource Locator，表示资源的位置， 期望提供查找资源的方法
- **URN**:RFC2141 (1997.5)，Uniform Resource Name，期望为资源提供持久 的、位置无关的标识方式，并允许简单地将多个命名空间映射到单个URN命名 空间
  - 例如磁力链接 magnet:?xt=urn:sha1:YNCKHTQC5C
- **URI**:RFC1630 (1994.6)、RFC3986 (2005.1，取代 RFC2396 和 RFC2732 )，Uniform Resource Identifier，用以区分资源，是 URL 和 URN 的超集，用以取代 URL 和 URN 概念

### Uniform Resource Identifier 统一资源标识符

- Resource 资源
  - 可以是图片、文档、今天杭州的温度等，也可以是不能通过互联网访问的实体，例如人、公司、实体书，也可以是抽象的概念，例如亲属关系或者数字符号
  - 一个资源可以有多个 URI
- Identifier 标识符
  - 将当前资源与其他资源区分开的名称
- Uniform 统一
  - 允许不同种类的资源在同一上下文中出现
  - 对不同种类的资源标识符可以使用同一种语义进行解读
  - 引入新标识符时，不会对已有标识符产生影响
  - 允许同一资源标识符在不同的、internet 规模下的上下文中出现

### URI 的组成

**组成:schema, user information, host, port, path, query, fragment**

例如：https://tools.ietf.org/html/rfc7231?test=1#page-7

![image](https://user-images.githubusercontent.com/9835391/62914247-111e1500-bdc2-11e9-88d5-e2ebc917a79a.png)


### 合法的 URI

- ftp://ftp.is.co.za/rfc/rfc1808.txt
- http://www.ietf.org/rfc/rfc2396.txt
- ldap://[2001:db8::7]/c=GB?objectClass?one
- mailto:John.Doe@example.com
- news:comp.infosystems.www.servers.unix tel:+1-816-555-1212 • telnet://192.0.2.16:80/
- urn:oasis:names:specification:docbook:dtd:xml:4.1.2


















